*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: "Gilroy";
}
#wrapper{
    height: 100%;
    width: 100%;
}
.one{
    height: 45vh;
    width: 100%;
    position: relative;
    background-image: url(photo-1588467850695-a898367ce465.avif);
    background-size: cover;
    background-position: top;
}
.cont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
}

.cont h2{
    font-size: 4.5vw;
    letter-spacing: -0.1vw;
    color: white;
    font-weight: 300;
}
.cont p{
    font-size: 1.4vw;
    color: white;
    text-align: center;
}
/* two */
.two{
    background-color: white;
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.images .card{
    height: 230px;
    width: 280px;
    margin: 15px 5px;
}
.images img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media (max-width: 1200px) {
    .images .card {
        flex: 0 0 calc(33.33% - 10px); /* 3 images per row */
    }
}

@media (max-width: 800px) {
    .images .card {
        flex: 0 0 calc(50% - 10px); /* 2 images per row */
    }
}

@media (max-width: 600px) {
    .images .card {
        flex: 0 0 calc(100% - 10px); /* 1 image per row */
    }
    /* .cont h2{
        font-size: 7vw;
    }
    .cont p{
        font-size: 2.1vw;
    }
    .card1, .card2{
        width: 49%;
    } */
}
.three{
    background-image: url(photo-1549590143-d5855148a9d5.avif);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}
.contents{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8vw;
} 
.card1{
    background-color: #424242;
    padding: 2vw 4vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.8vw;
}
.card1 .line{
    height: 1.2px;
    width: 90%;
    background-color: goldenrod;
}
.card1 button{
    padding: 0.7vw 2.1vw;
    margin-top: 1vw;
    color: white;
    background-color: goldenrod;
    border: none;
    font-size: 1vw;
    cursor: pointer;
}
.card1 h3{
    font-size: 1.5vw;
}
.card1 h4{
    font-size: 1.1vw;
}
.card1 p{
    font-size: 0.9vw;
}

.card2 {
    background-color: rgb(66, 66, 66);
    padding: 2vw 4vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.8vw;
}

.f1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

.f2, form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3vw;
}

.card2 button {
    padding: 0.7vw 2.1vw;
    margin-top: 1vw;
    color: white;
    background-color: goldenrod;
    border: none;
    font-size: 1vw;
    cursor: pointer;
}

.card2 h3, form h3 {
    font-size: 1.5vw;
}

.card2 p {
    font-size: 0.9vw;
}

form input {
    width: 10vw;
    height: 2vw;
}
input[type="text"]
{
    font-size:1vw;
}
form input::placeholder {
    font-size: 1vw;
}

@media (min-width: 800px) {
    .card2 {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    .f1, .f2, form {
        margin-bottom: 0;
    }
}

@media (max-width: 600px) {
    .card2 {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .f1, .f2, form {
        margin-bottom: 20px;
    }
}
